/* line 1, /home/harmtan13/Code/Personal-Projects/Portfolio/app/assets/stylesheets/about.scss */
main {
  display: block;
}

/* line 5, /home/harmtan13/Code/Personal-Projects/Portfolio/app/assets/stylesheets/about.scss */
section {
  display: grid;
  background: url(/assets/BioPhoto-6d59c0416f8d26173a6aecf49c2c364be651ee867777b1909d926e8d0b1691a5.jpg);
  background-size: cover;
  background-position: 35% 20%;
  padding: 1.56vw;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 16, /home/harmtan13/Code/Personal-Projects/Portfolio/app/assets/stylesheets/about.scss */
section .content {
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-row-gap: 20px;
  height: 97%;
  padding: 5.25vw;
  margin: 10px;
  margin: .625vw;
  z-index: 2;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

/* line 32, /home/harmtan13/Code/Personal-Projects/Portfolio/app/assets/stylesheets/about.scss */
section .content::after {
  content: '';
  position: absolute;
  border: 0.5px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  background-color: rgba(71, 71, 71, 0.35);
  -webkit-box-shadow: 0 0 15px rgba(194, 185, 185, 0.25);
  box-shadow: 0 0 15px rgba(194, 185, 185, 0.25);
  z-index: -1;
  width: calc(100% - 6.25vw);
  height: calc(100% - 6.25vw);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 50, /home/harmtan13/Code/Personal-Projects/Portfolio/app/assets/stylesheets/about.scss */
.bio {
  grid-template-columns: 5fr minmax(380px, 4fr);
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

/* line 57, /home/harmtan13/Code/Personal-Projects/Portfolio/app/assets/stylesheets/about.scss */
.bio .content {
  grid-row: 2/-1;
  grid-column: 2/-1;
  color: rgba(255, 255, 255, 0.85);
  background-color: rgba(0, 0, 0, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.7);
}

/* line 65, /home/harmtan13/Code/Personal-Projects/Portfolio/app/assets/stylesheets/about.scss */
.journey {
  grid-template-columns: 5fr minmax(380px, 4fr);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url(/assets/daniel-von-appen-tb4heMa-ZRo-unsplash-1884a48648e6129ef1fb691af75a6a605934f154868b3b8b6b10cd81c8eecd68.jpg);
  background-size: cover;
  background-position: 0 20%;
}

/* line 76, /home/harmtan13/Code/Personal-Projects/Portfolio/app/assets/stylesheets/about.scss */
.journey .content,
.journey img {
  border: 2px solid white;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

/* line 84, /home/harmtan13/Code/Personal-Projects/Portfolio/app/assets/stylesheets/about.scss */
.hobbies {
  background-image: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  place-content: center;
  place-items: center;
  grid-gap: 4.6875vw;
  margin: 0 auto;
}

/* line 94, /home/harmtan13/Code/Personal-Projects/Portfolio/app/assets/stylesheets/about.scss */
.hobby {
  width: 27vw;
  height: 27vw;
  max-width: 300px;
  max-height: 300px;
  min-width: 200px;
  min-height: 200px;
  background: black;
  border-radius: 50%;
}

@media screen and (max-width: 775px) {
  /* line 106, /home/harmtan13/Code/Personal-Projects/Portfolio/app/assets/stylesheets/about.scss */
  .journey,
  .hobbies,
  .bio {
    height: auto;
    min-height: 90vh;
    grid-template-columns: 1fr;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
  }

  /* line 117, /home/harmtan13/Code/Personal-Projects/Portfolio/app/assets/stylesheets/about.scss */
  .journey .content,
  .hobbies .content,
  .bio .content {
    height: auto;
    grid-column: 1/-1;
  }

  /* line 124, /home/harmtan13/Code/Personal-Projects/Portfolio/app/assets/stylesheets/about.scss */
  .hobbies {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 650px) {
  /* line 130, /home/harmtan13/Code/Personal-Projects/Portfolio/app/assets/stylesheets/about.scss */
  .journey {
    padding-bottom: calc(50px + 1.56vw);
  }

  /* line 134, /home/harmtan13/Code/Personal-Projects/Portfolio/app/assets/stylesheets/about.scss */
  .hobbies {
    grid-template-columns: 1fr;
  }
}
