<div class="grid-sort">
  <% @jobs.each do |job| %>
    <%= link_to(job_show_path(job)) do%>
        <ul class="job">
          <li>
            <%= job.name %>
          </li>

          <li>
            <%= job.location %>
          </li>

          <li>
            <%= image_tag(img(job.img))%>
          </li>
        </ul>
    <% end %>
  <% end %>
</div>