<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">In this portfolio I've listed some of my favorite projects that I've built. These projects were a joy to work on and many of them are continuously worked on. With each project, I aimed to create something useful that solves a genuine problem. I believe that each one of these projects fits that objective.</p>
    
    <p>
      <%= source_helper("alert alert-warning") %>
    </p>
  </div>
</section>