<section class="contact home-section">
  <%= image_tag('aaron-burden-xG8IQMqMITM-unsplash.jpg', alt: 'profile picture') %>

  <div class="section-wrapper">
    <h1 class="section-title">Let's Chat</h1>
  </div>
</section>


<%# Form layout 

Name

Company Name

Email

Phone

Message

Phone
Email (Form)
Facebook
LinkedIn
 %>