<section class="contact home-section">
  <%= image_tag('intro.jpg', alt: 'profile picture') %>

  <h1 class="section-title">Let's Chat</h1>

  <div class="work-history">

  </div>

  <div class="skillset">
  
  </div>

  <div class="education">
  
  </div>
</section>