<section class='intro home-section'>
  <%= image_tag('intro.jpg', alt: 'profile picture') %>

  <div class="section-wrapper">
    <div class="section-title">
      <h1>Welcome!</h1>
      <h2>Glad to have you here.</h2>
    </div>
  
    <div class="content">
      <p>I appreciate you taking the time time to visit my Portfolio today. Here you'll see an overview of my skillset & personality so you can get a sense of how I'd fit within your company. Hope to speak with you soon!</p>
    </div>
  </div>
</section>