<section class='intro home-section'>
  <%= image_tag('intro.jpg', alt: 'profile picture') %>

  <div class="section-wrapper">
    <div class="section-title">
      <h1>Welcome!</h1>
      <h2>Glad to have you here.</h2>
    </div>
  
    <div class="content">
      <p>I appreciate you're time today. Here you'll find all I have to offer {{Company-Name}}. Hope to speak with you soon!</p>
    </div>
  </div>
</section>