<section class="portfolio home-section" id='portfolio'>
  <%= image_tag('home-page.jpg', alt: 'profile picture', id:'portfolio-background') %>

<div class="section-wrapper">
    <h1 class="section-title">What I've built</h1>

    <div class="content">
      <p>
        I have built a number of projects using Ruby and the Ruby on Rails framework, for full-stack dynamic applications. On top of that, I've also put together a number of raw HTML, CSS, & Javascript projects with the sole purpose of gaining a foundation of for the basics. My goal in learning has not just been to be able to put together projects that work,but to be able to comprehend how things are connected so I can become a better Engineer for powerful Web Applications.
    </div>
  </div>

  <%= link_to(content_tag(:button,"Discover More"), portfolios_path, class: 'button')%>
</section>