<section class="portfolio home-section" id='portfolio'>
  <%= image_tag('code-background.jpg', alt: 'profile picture') %>

<div class="section-wrapper">
    <h1 class="section-title">What I've built</h1>

    <div class="content">
      <p>
        I have built a number of projects using raw HTML, CSS, & Javascript without frameworks. This was done with the purpose of gaining a foundation of knowledge in which to build on. On top of that, I am fluent in both Ruby & the Rails framework for Full-Stack applications. 
      </p>
    </div>
  </div>

  <%= link_to(content_tag(:button,"Discover More"), portfolios_path, class: 'button')%>
</section>