<section class="qualifications home-section">
  <%= image_tag('qualifications.jpg', alt: 'profile picture', class: 'rotate') %>

  <div class="section-wrapper">
    <h1 class="section-title">What I have to offer</h1>

    <div class="content">
      <p>
        Here you'll find everything you need to know to evaluate my ability to perform the assignments I'll be tasked with as a member of the team. My work history, skill-set, and education endorsements are all included within this section. 
      </p>
    </div>
  </div>

  <%= link_to(content_tag(:button,"Discover More"), qualifications_path, class: 'button')%>
</section>