<%= stylesheet_link_tag "about" %>

<div class="about-main">
  <section class="bio">
    <div class="content">
    <h1>Little History about me</h1>
    <p>
      Hi, my name is Tanner. I'm a father of two amazing boys and the best Husband I can be. I was born in Salt Lake City, Utah, but spent most of my childhood in Lovell, Wyoming. After my freshman year in that little town of 2000 people, our family moved to Pocatello, Idaho where I graduated from Century High School.
    </p>

    <p>
      Upon returning home from my church mission, I decided that I wanted to move back to Salt Lake City where I truly found my passion for technology, met my amazing wife, and have been blessed with two amazing children. That's me in a nutshell, I look forward to getting to know you more.
    </p>
    </div>
  </section>

  <h1 id='hobby-title'>My Hobbies</h1>
  <section class="hobbies">

    <% @hobbies.each do |hobby|%>
      <div class="hobby">
        <%= icon(hobby.icon.split[0], hobby.icon.split[1], class: 'icon-1') %>
        <%= icon(hobby.icon.split[2], hobby.icon.split[3], class: 'icon-2') %>
        <h2><%= hobby.title %></h2>
      </div>
     <%end%> 
  </div>

  </section>

  <section class="journey">
    <div class="content" id='journey-copy'>
      <h1>My Journey</h1>
      <p>
        Throughout my entire life, I have always had a tinkering for technology. It started out with me enjoying video games on the computer like Age of Mythology or Age of Empires. I remember tinkering with the video-game by adding music in the file-system, or getting icon sets and replacing the default ones.
      </p>

      <p>
        This intrigue continued and when I moved to Salt Lake City, where I've had an assortment of jobs that involved technology. My first job was Repair Technician at a phone repair shop. When that company was sold, I moved to T-Mobile where I got the opportunity to work closeley with people and their Cellular needs. During my tenure at T-Mobile I started a company that was based in networking, which was an Amazing learning experience. 
      </p>

      <p>
        It was that company, Family-Guard, that solidified a passion in me that building things was what I loved. As I looked back at each company I worked for, there was an underlying project that I had that dealt more the building something, usually making small little programs in excel to better track my own personal goals. 
      </p>

      <p>
        I sold Family-Guard and enrolled in the Bottega Bootcamp to begin my journey into making Web Applications. It challenged me in a way that I hadn't been challenged before. My entire way of thinking had to shift. I learned to think about problems in a more detailed way, break something in to little steps, and learned how to learn so to speak. 
      </p>
    
      <p>
        In addition to Bottega, I picked up 'The Odin Project'that I used a supplement at first, but it turned into a primary curriculum all on it's own. Their approach to hands on and baptism by fire was essential for me to be confident in my skillset. 
      </p>
      
    </div>
  </section>
</div>

<%# Being able to replace the screens, earpeices, or other parts were fun, but I found my love in a problems that weren't ovbious to solve. %>