<%= stylesheet_link_tag "about" %>

<div class="about-main">
  <section class="bio">
    <div class="content">
    <h1>Little Bio</h1>
    <p>
      My passion for technology has been an integral part of my life. It has directed me from a job in Smart-Phone hardware repairs all the way to tinkering with the software on my Android device just to see what I could do with it. After starting a technology company, I realized the power that technology had and found a burning desire to be able to harness that power to help better peoples lives.
    </p>
    </div>
  </section>

  <section class="hobbies">

  <div class="hobby">

  </div>

  <div class="hobby">

  </div>

  <div class="hobby">

  </div>

  <div class="hobby">

  </div>

  <div class="hobby">

  </div>

  <div class="hobby">

  </div>

  </section>

  <section class="journey">
    <div class="content">
      <h1>My Journey</h1>
      <p>
        My passion for technology has been an integral part of my life. It has directed me from a job in Smart-Phone hardware repairs all the way to tinkering with the software on my Android device just to see what I could do with it. After starting a technology company, I realized the power that technology had and found a burning desire to be able to harness that power to help better peoples lives.
      </p>
    </div>
  </section>
</div>