<h4>Get in Touch</h4>

<div class='card'>
  <div class='card-body'>
    <p><b>Call or Text: </b><%= number_to_phone "3852294959" %></p>

    <p><b>Email: </b>Harmtan2@gmail.com</p>

    <p><b>Facebook: </b><%= link_to("Message Me", 'https://www.facebook.com/messages/t/tanner.harman/', target: :_blank) %></p>

    <p><b>LinkedIn: </b><%= link_to("Lets Connect", 'https://www.linkedin.com/in/tanner-harman-3182a08b/', target: :_blank) %></p>
  </div>
</div>