<section class='intro home-section'>
  <%= image_tag('intro.jpg', alt: 'profile picture') %>

  <h1>Welcome</h1>
  
  <p>I appreciate you're time today. Here you'll find what I can do for {{Company-Name}}</p>
</section>


<section class="about home-section">
  <h1>About</h1>

  <div class="hobbies">
  
  </div>

  <div class="journey">
  
  </div>

  <div class="bio">
  
  </div>
</section>

<section class="qualifications home-section">
  <h1>Qualifications</h1>

  <div class="work-history">

  </div>

  <div class="skillset home-section">
  
  </div>

  <div class="education">
  
  </div>
</section>

<section class="portfolio home-section">
  <h1>Portfolio</h1>

  <div class="front-end">

  </div>

  <div class="back-end">
  
  </div>

</section>

<section class="contact home-section">
  <h1>Contact</h1>

  <div class="work-history">

  </div>

  <div class="skillset home-section">
  
  </div>

  <div class="education">
  
  </div>
</section>