<div class="inner cover card intro">

    <h1 class="cover-heading">Welcome to My Portfolio</h1>
    <p class="lead">Ideas are the foundation of progress and that progress leads to better quality lives for those around us. Technology today, and more specifically the internet, has brought a much greater quality of life to more people than ever before. It is a foundation where someone with an idea can immediately put it into action. The passion to build, create, and contribute to something that makes a difference in peoples lives burns inside me. Within Programming and Web Development I have found my way to help make a difference in the world, on a platform that can reach nearly everyone. Lets build something great together.</p>
    <p class="lead">
        <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>
    
