<section id="education">
  <%= render( file: 'schools/index') %>
</section>

<section id="skillset">
  <% @skills.each do |skill|%>
    <div><%= skill.title %> - <%= skill.percent_utilized %></div>
  <% end %>
</section>

<section id="work-history">
  <%= render( file: 'jobs/index') %>
</section>


