<div class="grid-sort">
  <% @schools.each do |school| %>
    <%= link_to(school_show_path(school)) do%>
        <ul class="school">
          <li>
            <%= school.name %>
          </li>

          <li>
            <%= school.location %>
          </li>

          <li>
            <%= image_tag(school.logo) if school.logo%>
          </li>
        </ul>
    <% end %>
  <% end %>
</div>