main {
  display: block;
}

section {
  display: grid;
  background: image-url('BioPhoto.jpg');
  background-size: cover;
  background-position: 35% 20%;
  padding: 1.56vw;
  align-items: center;
}

section .content {
  display: grid;
  align-content: center;
  grid-row-gap: 20px;
  height: 97%;
  padding: 5.25vw;
  margin: 10px;
  margin: .625vw;
  z-index: 2;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

section .content::after {
  content: '';
  position: absolute;
  border: .5px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  background-color: rgba(71, 71, 71, .35);
  box-shadow: 0 0 15px rgba(194, 185, 185, 0.25);
  z-index: -1;

  width: calc(100% - 6.25vw);
  height: calc(100% - 6.25vw);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bio {
  grid-template-columns: 5fr minmax(380px, 4fr);
  justify-content: end;
}

.bio .content {
  grid-row: 2/-1;
  grid-column: 2/-1;
  color: rgba(255, 255, 255, 0.85);
  background-color: rgba(0, 0, 0, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.journey {
  grid-template-columns: 5fr minmax(380px, 4fr);
  justify-content: center;

  background: image-url('daniel-von-appen-tb4heMa-ZRo-unsplash.jpg');
  background-size: cover;
  background-position: 0 20%;
}

.journey .content,
.journey img {
  border: 2px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.hobbies {
  background-image: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  place-content: center;
  place-items: center;
  grid-gap: 4.6875vw;
  margin: 0 auto;
}

.hobby {
  width: 27vw;
  height: 27vw;
  max-width: 300px;
  max-height: 300px;
  min-width: 200px;
  min-height: 200px;
  background: black;
  border-radius: 50%;
}

@media screen and (max-width: 775px) {
  .journey,
  .hobbies,
  .bio {
    height: auto;
    min-height: 90vh;
    grid-template-columns: 1fr;
    align-items: end;
  }

  .journey .content,
  .hobbies .content,
  .bio .content {
    height: auto;
    grid-column: 1/-1;
  }

  .hobbies {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .journey {
    padding-bottom: calc(50px + 1.56vw);
  }

  .hobbies {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1600px) {

}