main {
  display: block;
}

section {
  display: grid;
  background: image-url('BioPhoto.jpg');
  background-size: cover;
  background-position: 35% 20%;
  padding: 1.56vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .content {
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-row-gap: 20px;
  height: 97%;
  padding: 5.25vw;
  margin: 10px;
  margin: .625vw;
  z-index: 2;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

section .content::after {
  content: '';
  position: absolute;
  border: .5px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  background-color: rgba(71, 71, 71, .35);
  -webkit-box-shadow: 0 0 15px rgba(194, 185, 185, 0.25);
          box-shadow: 0 0 15px rgba(194, 185, 185, 0.25);
  z-index: -1;

  width: calc(100% - 6.25vw);
  height: calc(100% - 6.25vw);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bio {
  grid-template-columns: 5fr minmax(380px, 4fr);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.bio .content {
  grid-row: 2/-1;
  grid-column: 2/-1;
  color: rgba(255, 255, 255, 0.85);
  background-color: rgba(0, 0, 0, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.journey {
  grid-template-columns: 5fr minmax(380px, 4fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  background: image-url('daniel-von-appen-tb4heMa-ZRo-unsplash.jpg');
  background-size: cover;
  background-position: 0 20%;
}

.journey .content,
.journey img {
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.hobbies {
  background-image: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  place-content: center;
  grid-gap: 4.6875vw;
  margin: 0 auto;
  padding-bottom: 75px;
}

#hobby-title {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 50px;
}

.hobby {
  display: grid;
  place-items: center;
  place-content: center;
  grid-gap: 5px;
  grid-template-columns: repeat(2, minmax(100px, auto));
  grid-template-rows: minmax(100px, 1fr) minmax(25px,auto);
}

.hobby h2 {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  background: white;
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
  box-shadow: 0px 3px 10px rgba(0,0,0, .25);
}

.hobby i {
  grid-row: 1 / -1;
  font-size: 100px;
  color: rgb(36, 224, 238);
}

.hobby .icon-1 {
  grid-column: 1/2;
}

.hobby .icon-2 {
  grid-column: 2/-1;
}

.fas,
.far {
  z-index: -1;
}

.fa-keyboard {
  transform: rotate(-55deg);
}

.fa-mouse,
.fa-biking {
  transform: rotate(-35deg);
}

@media screen and (max-width: 775px) {
  .journey,
  .hobbies,
  .bio {
    height: auto;
    min-height: 90vh;
    grid-template-columns: 1fr;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }

  .journey .content,
  .hobbies .content,
  .bio .content {
    height: auto;
    grid-column: 1/-1;
  }

  .hobbies {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .journey {
    padding-bottom: calc(50px + 1.56vw);
  }

  .hobbies {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1600px) {

}
