@import 'cssremedy-rails';
@import "font-awesome";
@import "gritter";
@import "nav.scss";
@import "pages.scss";


:root {
  --transform-shift:0vw;
  --nav-color: #333333;
  --swipe-transition: 0ms;
}

*, h1 {
  padding: 0;
  margin: 0;
  line-height: 1.5em;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
}

main {
  padding-top: 50px;
}