// Place all the styles related to the schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid-sort {
  display: flex;
  margin: 75px auto;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
}

.grid-sort a {
  flex: 18.75vw 1 1;
  height: 18.75vw;
  margin: 15px;
}

.grid-sort ul {
  position: relative;
  height: 100%;
  width: 100%;
}

.grid-sort ul img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.grid-sort li {
  list-style: none;
  padding: 0;
  margin: 0;
}