// Place all the styles related to the schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grid-sort-section {
  display: grid;
  grid-gap: 3.125vw;
  place-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 3vw;
}

@media screen and (min-width: 1600px) {
  .grid-sort-section {
    padding: 50px;
  }

  #portfolio .grid-sort > a {
    margin: 15px;
  }
}

@media screen and (max-width: 1600px) {
  .grid-sort > a {
    max-width: 600px;
  }
}


.title {
  text-align: center;
}

.grid-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1600px;
}

.grid-sort > a {
  -webkit-box-flex: 440px;
      -ms-flex: 440px 1 1;
          flex: 440px 1 1;
  height: 300px;
  margin: .625vw;
  text-decoration: none;
}

#education,
#work-history {
  background: image-url('graducation-cap.jpg');
  background-size: cover;
  background-position: 10% center;
  position: relative;
  z-index: 1;
}

#education::after,
#work-history::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear,
                              left top, left bottom,
                              color-stop(70%, rgba(250, 250, 250, .25)),
                              to(rgba(250, 250, 250, .95))
                              );
  background: linear-gradient(rgba(250, 250, 250, .25) 70%,
                              rgba(250, 250, 250, .95)
                              );
  z-index: -1;
}

#work-history {
  background: image-url('startup-593341_1280.jpg');
  background-size: cover;
}

#work-history::after {
  background: -webkit-gradient(linear,
                            left top, left bottom,
                            color-stop(15%, rgba(250, 250, 250, 1)),
                            to(rgba(250, 250, 250, .25))
                              );
  background: linear-gradient(rgba(250, 250, 250, 1) 15%,
                            rgba(250, 250, 250, .25)
                              );
}

#education .grid-sort > a {
  height: 22vw;
  min-height: 300px;
  max-height: 400px;
}

.grid-sort ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .25);
          box-shadow: 0 0 5px rgba(0, 0, 0, .25);
  -webkit-transition: -webkit-filter 250ms ease-out;
  transition: -webkit-filter 250ms ease-out;
  transition: filter 250ms ease-out;
  transition: filter 250ms ease-out, -webkit-filter 250ms ease-out;
  z-index: 10;
}

.grid-sort ul .background {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 55% center;
     object-position: 55% center;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.grid-sort .content {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
  -webkit-transition: -webkit-transform 250ms ease-out;
  transition: -webkit-transform 250ms ease-out;
  transition: transform 250ms ease-out;
  transition: transform 250ms ease-out, -webkit-transform 250ms ease-out;
  -webkit-transform: translateY(45%);
          transform: translateY(45%);
}

.grid-sort ul:hover > .content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.grid-sort ul:hover .background {
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.grid-sort ul #logo {
  margin: 1.5%;
  height: 25%;
  width: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-sort ul::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .25)), to(rgba(0, 0, 0, .7)));
  background: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, .7));
}

.grid-sort li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#skillset {
  margin: 0 auto;
}

#skillset h1 {
  grid-column: 1/-1;
  justify-self: center;
}

#skillset .skills {
  -webkit-box-shadow: 0px 5px 8px rgba(90, 61, 61, 0.25);
          box-shadow: 0px 5px 8px rgba(90, 61, 61, 0.25);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 100%;
  max-width: 1000px;
  padding: 40px;
  border-radius: 5px;
}

#skillset .graphic {
  display: grid;
  height: 400px;
  width: 100%;
}

#skillset .graphic div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-pack: space-evenly; 
      -ms-flex-pack: space-evenly; 
          justify-content: space-evenly;
}

.chartjs-render-monitor,
#skillset .graphic img {
  -webkit-filter: drop-shadow(0 5px 5px rgba(90, 61, 61, 0.5));
          filter: drop-shadow(0 5px 5px rgba(90, 61, 61, 0.5));
}

#skillset .graphic img {
  width: 75px;
  margin: 15px;
}

#skillset .graphic img:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-filter: drop-shadow(0 10px 5px rgba(90, 61, 61, 0.5));
          filter: drop-shadow(0 10px 5px rgba(90, 61, 61, 0.5));
  -webkit-transition: -webkit-transform 50ms ease-out,
              -webkit-filter 50ms ease-out;
  transition: -webkit-transform 50ms ease-out,
              -webkit-filter 50ms ease-out;
  transition: transform 50ms ease-out,
              filter 50ms ease-out;
  transition: transform 50ms ease-out,
              filter 50ms ease-out,
              -webkit-transform 50ms ease-out,
              -webkit-filter 50ms ease-out
}

#portfolio .grid-sort > a {
  margin: .875vw;
}

.port-subtitle {
  width: 75%;
  text-align: center;
} 

@media screen and (max-width: 725px) {
  #skillset .skills {
    grid-template-columns: 1fr;
    height: 100%;
  }

  #skillset .graphic {
    display: none;
  }

  .grid-sort > a {
    margin: 10px;
  }
}
