// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
    width: 100%;
    min-height: 80vh
}

.home-section {
  display: grid;
  grid-template-columns: 5fr 4fr;
  justify-items: center;
  height: 100vh;
  color: white;
  background-color: #5F259F;
  position: relative;
  grid-row-gap: 1.5625vw;
}

.home-section::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  --linear-percentage: 65%;
  background: linear-gradient(
              rgba(0, 0, 0, .1) var(--linear-percentage), 
              rgba(0,0,0, .6));
}

.home-section .section-title {
  text-align: center;
  min-width: 377.0666667px;
  font-size: 45px;
  height: 100%;
  width: 100%;
  z-index: 1;
  align-self: end;

  display: grid;
  place-items: center;
  place-content: center;
}

.home-section .section-title h1 {
  font-size: 45px;
  padding: 0;
  margin: 0;
}

.home-section .section-title h2 {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.home-section img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.home-section .content {
  width: 75%;
  font-size: 25px;
  z-index: 1;
}

@media screen and (min-width: 601px) and (max-width: 990px) {
  nav .nav-items {
    flex-wrap: wrap;
    text-align: center;
  }

  nav .nav-items > .nav-link {
    flex: 150px 1 1;
    margin: 10px 0;
  }

  .home-section .section-title {
    font-size: 50px;
  }

  .home-section .content {
    font-size: 20px;
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 600px) and (orientation: portrait) {
  main {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    width: 100%;
  }

  .home-section {
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 3fr 4fr;
    height: 100vh;
    padding-bottom: 80px;
    transform: translateX(var(--transform-shift));
    transition: transform var(--swipe-transition) ease-in;
    place-items: center;
  }

  .home-section::after {
    --linear-percentage: 0;
  }

  .home-section img {
    position: absolute;
    grid-row: auto;
    height: 100%;
    width: 100%;
  }

  .home-section .section-title,
  .home-section .section-title h1 {
    color: black;
    font-size: 25px;
    width: 100%;
    text-align: center;
  }

  .home-section .section-title {
    background: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
    padding: 10px;
    padding-bottom: 50px;
  }
  
  .home-section .section-title h2 {
    font-size: 20px;
  }

  .home-section .content {
    margin-top: 15px;
    font-size: 16px;
    align-self: center;
    grid-row: 3/-1;
    background: rgba(0,0,0, .8);
    padding: 10px;
    border-radius: 10px;
    width: 90%;
  }

  .home-section .section-title,
   main section {
    flex-direction: row;
    min-width: 100px; 
    flex-shrink: 0;
   }

  // Home-Page Slider Nav

  .home-nav {
    bottom: 0;
    background: #333333;
    overflow: hidden;
    transform: translateY(0);
  }

  .home-nav > nav,
  .home-nav > nav .nav-items {
    display: flex;
    flex-direction: row;
  }

  .home-nav nav > .nav-items {
    justify-content: flex-start;
  }

  .home-nav > nav .nav-items > .nav-link,
  .home-nav > nav .nav-bar {
    width: 100vw;
    flex-shrink: 0;
    text-align: center;
    transform: translateX(var(--transform-shift));
    transition: transform var(--swipe-transition) ease-in;
  }

  .home-nav .nav-bar i {
    display: none;
  }

  .home-nav .logo {
    margin-right: 0px;
  }
}