// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
    width: 100%;
    min-height: 80vh;
}

.home-nav {
  bottom: 25px;
  background-color: transparent;
  box-shadow: none;
  height: auto;
}

.home-nav nav {
  display: grid;
  grid-template-columns: 5fr minmax(380px, 4fr);
  width: 100%;
  place-items: center;
  justify-content: start;
  max-width: none;
}

.home-nav nav .nav-items {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.home-section {
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-template-columns: 5fr minmax(380px, 4fr);
  grid-template-rows: repeat(2, 2fr) 1fr;
  height: 100vh;
  color: white;
  background-color: #5F259F;
  position: relative;
}

.home-section::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  --linear-percentage: 65%;
  background: linear-gradient(
              rgba(0, 0, 0, .1) var(--linear-percentage), 
              rgba(0,0,0, .6));
}

.home-section .section-wrapper {
  grid-row: 1 / -2;
  display: grid;
  grid-row-gap: 1.5625vw;
  background: rgba(54, 69, 79, .8);
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: -5px 5px 10px rgba(0,0,0, .2);
  margin: 0 15px;
  z-index: 1;
  width: 90%;
}

.home-section .section-title {
  text-align: center;
  font-size: 2.5vw;

  display: grid;
  place-items: center;
  place-content: center;
}

.home-section .section-title h1 {
  font-size: 2.5vw;
  padding: 0;
  margin: 0;
}

.home-section .section-title h2 {
  font-size: 1.875vw;
  padding: 0;
  margin: 0;
}

.home-section img {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home-section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: start;
  font-size: 1.5625vw;
}

.home-section .button button {
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 50px;
  background-color: black;
  color: white;
  box-shadow: -5px 5px 10px rgba(0,0,0, .2);
  border: black;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.home-section .button {
  margin-bottom: 20vh;
  height: 50px;
  border-radius: 50px;
  z-index: 1;
  grid-column: 2 / -1;
  align-self: start;
}

@media screen and (max-width: 1244px) {
  .home-section .section-title,
  .home-section .section-title h1 {
    font-size: 31.1px;
  }

  .home-section .section-title h2 {
    font-size: 20px;
  }

  .home-section .content {
    font-size: 16px;
  }
}

@media screen and (min-width: 651px) {
  .home-section {
    position: fixed;
    top: 0;
    bottom: 0;
    transition: opacity 350ms ease-in;
  }

  .about,
  .qualifications,
  .portfolio,
  .contact {
    opacity: 0;
    z-index: 0;
  }
}

@media screen and (min-width: 651px) and (max-width: 990px) {
  .home-nav nav .nav-items {
    flex-wrap: wrap;
    text-align: center;
  }

  .home-nav nav .nav-items > .nav-link {
    flex: 150px 1 1;
    margin: 10px 0;
  }

  .home-section .button {
    margin-bottom: 20vh;
  }
}

@media screen and (max-width: 650px) and (orientation: portrait) {
  main {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    width: 100%;
  }

  .home-section {
    grid-template-columns: 1fr;
    height: 100vh;
    padding-bottom: 80px;
    transform: translateX(var(--transform-shift));
    transition: transform var(--swipe-transition) ease-in;
    place-items: center;
    grid-template-rows: 10fr 5fr auto;
  }

  .home-section::after {
    --linear-percentage: 0;
  }

  .home-section .section-wrapper {
    grid-row-end: -2;
    align-self: end;
    padding: 10px;
  }

  .home-section .button {
    grid-row-end: -1;
    display: none;
    margin-bottom: 0;
  }

  .home-section img {
    position: absolute;
    grid-row: auto;
    height: 100%;
    width: 100%;
  }

  .home-section .section-title,
  .home-section .section-title h1 {
    color: black;
    font-size: 25px;
    width: 100%;
    text-align: center;
  }

  .home-section .section-title {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, 0));
    padding: 10px;
    padding-bottom: 50px;
    box-shadow: none;
  }
  
  .home-section .section-title h2 {
    font-size: 20px;
  }

  .home-section .content {
    font-size: 16px;
    align-self: center;
    grid-row: 3/-1;
    width: 100%;
  }

  .home-section .content p {
    width: 100%;
  }

  .home-section .section-title,
   main section {
    flex-direction: row;
    min-width: 100px; 
    flex-shrink: 0;
   }

   .portfolio .section-title {
    color: white;
    background: linear-gradient(rgba(0, 0, 0, .9),
                                rgba(0, 0, 0, 0));
   }

  // Home-Page Slider Nav

  .home-nav {
    bottom: 0;
    background: #333333;
    overflow: hidden;
    transform: translateY(0);
  }

  .home-nav > nav,
  .home-nav > nav .nav-items {
    display: flex;
    flex-direction: row;
  }

  .home-nav nav > .nav-items {
    justify-content: flex-start;
  }

  .home-nav > nav .nav-items > .nav-link,
  .home-nav > nav .nav-bar {
    width: 100vw;
    flex-shrink: 0;
    text-align: center;
    transform: translateX(var(--transform-shift));
    transition: transform var(--swipe-transition) ease-in;
  }

  .home-nav .nav-bar i {
    display: none;
  }

  .home-nav .logo {
    margin-right: 0px;
  }
}